* {
  margin: 0;
}

body {
  font-family: arial;
}

.container {
  padding-top: 30px;
}

.imgform,
button {
  text-align: center;
  cursor: pointer;
}

.logo {
  padding-top: 85px;
  display: inline-block;
  padding-bottom: 20px;
}

nav a {
  color: pink;
  display: inline-block;
  padding: 15px;
  color: #000;
  opacity: 0.75;
  font-size: 13px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

input {
  width: 35%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #dedbdb;
}

input:focus,
button:focus {
  outline: none;
}

input:hover {
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
  border: 1px solid #fff;
}

button:hover {
  border: 0.5px solid #c1bfbf;
}

p {
  font-size: 0.8rem;
}

hr {
  border: 1px solid #ededed;
}

.btn-group {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}

.btn-blue {
  background: #2459f4;
  color: #fff;
  border-radius: 2px;
  padding: 8px 15px;
}

.languages {
  margin: 5px;
  color: #212eab;
}

#searchbar {
  padding-bottom: 15px;
}

.rightnav {
  padding-right: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  border: 0.5px solid #ededee;
}

.footer p {
  font-size: 15px;
  padding-left: 15px;
  opacity: 0.95;
}

.footer nav a {
  font-size: 15px;
  padding: 10px;
}

.fa-search {
  opacity: 0.3;
}

.fa-microphone {
  color: #2459f4;
}

div i {
  position: absolute;
}

.icon {
  padding: 15px;
  margin-bottom: 10px;
}

.icon-right {
  padding-left: 500px;
  padding-top: 13px;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: arial;
  font-size: 10px;
  padding: 8px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: 182px;
  margin-top: 10px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
